@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital@0;1&display=swap');
body{
    background-color: #151922;
    font-family: 'DM Sans', sans-serif;
}
.main_container{
    display: flex;
    flex-wrap: wrap;
}
.main_container > * {
    margin: 10px;
    height: 90vh;
}
.left_container{
    padding: 10px;
    background-color:   #ffd966;
    max-height: 90vh;
    border-radius: 25px;
    flex-basis: 25%;
    box-shadow: 0 0 10px 2px rgba(30, 0, 0, 0.67);
}
            .search-container {
                display: inline-block;
                position: relative;
                margin: 20px;
                height: 40px;
                width: 300px;
                border-radius: 20px;
                overflow: hidden;
            }

            .search-container input[type="text"] {
                width: calc(100% - 40px);
                height: 100%;
                padding: 0 20px;
                border: none;
                font-size: 16px;
                background-color: #f2f2f2;
                outline: none;
            }

            .user_list_mother{
                height: calc(90% - 40px);
                overflow-y: scroll; 
                      
            }
                .user_list_mother::-webkit-scrollbar {
                    width: 8px;
                }
                
                .user_list_mother::-webkit-scrollbar-track {
                    background-color: #f1f1f1;
                }
                
                .user_list_mother::-webkit-scrollbar-thumb {
                    background-color: #151922;
                    border-radius: 10px;
                }
                .user_list{
                    margin-top: 4px;
                    display: flex;
                    align-items: center;
                    padding-left: 0;
                    border: none;
                    border-radius: 6%;
                    -webkit-transition: background-color 1.25s ease-out;
                    -moz-transition: background-color 1.25s ease-out;
                    -o-transition: background-color 1.25s ease-out;
                    transition: background-color 1.25s ease-out;
                    
                    
            }
            .highlighted {
                background-color: #151922;
                color: white;
            }
            
            .user_list > p{
                padding-left: 15px;
                font-style: none;
            }
            .mini_avatar{
                border-radius: 50%;
                width: 80px;
                height: 80px;
                object-fit: cover;
                object-position: 50% 50%;
            }
.middle_container{
    background-color: #ffffff;
    border-radius: 25px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    padding: 10px;
    flex-basis: 45%;
    box-shadow: 0 0 10px 2px rgba(30, 0, 0, 0.67);
    display: none;
    flex-direction: column;
    justify-content: flex-end;
    
    max-height: 90vh;
}
                #messages-container {
                    border-top: 2px solid black;
                    height: calc(100% - 40px);
                    overflow-y: scroll;
                    padding-top: 10px;
                }
                        #messages-container::-webkit-scrollbar {
                            width: 8px;
                        }
                        
                        #messages-container::-webkit-scrollbar-track {
                            background-color: #f1f1f1;
                        }
                        
                        #messages-container::-webkit-scrollbar-thumb {
                            background-color: #151922;
                            border-radius: 10px;
                        }
                textarea {
                    border-radius: 5px;
                    resize: none;
                    height: 50px;
                    width: 100%;
                    box-sizing: border-box;
                    border: none;
                    border-top: 1px solid #ccc;
                    padding: 10px;
                    font-size: 16px;
                }
                .send_button {
                    height: 50px;
                    width: 100%;
                    background-color: #ffd966;
                    color: #151922;
                    border: none;
                    cursor: pointer;
                    font-size: 16px;
                    border-radius: 5px;
                }
                
                .send_button:hover {
                    background-color: #ffa500 ;
                }
                .message {
                    clear: both;
                    display: flex;
                    flex-wrap: wrap;
                    padding: 10px 20px 10px 10px;
                    width: 100%;
                    margin-bottom: 10px;
                    border-radius: 20px;
                  }
                  
                  .sent {
                    background-color: #ffd966;
                    width: 40%;
                    float: right;
                    max-width: 40%;
                  }
                  
                  .recedived {
                    float: left;
                    background-color: #f2f2f2;
                    width: 40%;
                    max-width: 40%;
                  }
              .minimini_avatar{
                    border-radius: 50%;
                width: 50px;
                height: 50px;
                object-fit: cover;
                object-position: 50% 50%;
              }

.right_container{
    padding: 10px;
    background-color: #ffd966  ;
    
    border-radius: 25px;
    flex-basis: 20%;
    justify-content: center;
    align-items: center;
    display: none;
    flex-direction: column;
    box-shadow: 0 0 10px 2px rgba(30, 0, 0, 0.67);
}
            .close {
                position: absolute;
                right: 56px;
                top: 32px;
                width: 32px;
                height: 32px;
                opacity: 0.3;
            }
            .close:hover {
                opacity: 1;
            }
            .close:before, .close:after {
                position: absolute;
                left: 15px;
                content: ' ';
                height: 33px;
                width: 2px;
                background-color: #333;
            }
            .close:before {
                transform: rotate(45deg);
            }
            .close:after {
                transform: rotate(-45deg);
            }
            
            .welcome{
                margin-top: -10%;
                text-align: center;
                font-size: 23px;
                
            }

            .avatar{
                
                border-radius: 50%;
                width: 180px;
                height: 180px;
                object-fit: cover;
                object-position: 50% 50%;
            }
            .avatarbutton{
                margin-top: auto;
                display:none;
                
            }
            #logoutButton{
                cursor: pointer;
                border:1px solid transparent;
                padding: 6px 12px;
                font-size: 14px;
                line-height: 1.42;
                color:white;
                border-radius: 4px;
                background-color: #1a73e8;
                outline: none;
                min-width: 88px;
            }
.main_section{
    padding: 10px;
    background-color:   #ffd966;
    max-height: 90vh;
    border-radius: 25px;
    flex-basis: 69.6%;
    box-shadow: 0 0 10px 2px rgba(30, 0, 0, 0.67);
    display:flex;
}
            .search-container2 {
                display: inline-block;
                position: relative;
                margin: 20px;
                height: 40px;
                width: 300px;
                border-radius: 20px;
                overflow: hidden;
            }

            .search-container2 input[type="text"] {
                width: calc(100% - 40px);
                height: 100%;
                padding: 0 20px;
                border: none;
                font-size: 16px;
                background-color: #f2f2f2;
                outline: none;
            }
.footer{
    text-align: center;
} 
            .footertext{
                font-size: 12px;
                color: white;
                
                bottom: 0;
            }




@media (max-width: 768px) {
    .main_container {
        flex-direction: column;
        align-items: stretch;
    }
    .main_container > * {
        flex: 1 1 auto;
        margin: 10px 0;
    }
    .show_main_button{
        position: absolute;
        top: 1400px;
        right: 40px;
        cursor: pointer;
        border:1px solid transparent;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42;
        color:white;
        border-radius: 4px;
        background-color: #1a73e8;
        outline: none;
        min-width: 88px;
    }
}